[sources.lastfm]
api_key = "your_lastfm_api_key_here"

[sources.spotify]
client_id = "your_spotify_client_id_here"
client_secret = "your_spotify_client_secret_here"

[destination.postgres.credentials]
database = "MusicaBi"
username = "admin"
password = "admin"
host = "localhost"
port = 5432
